.draggable {
    width: 100px;
    height: 100px;
    background: #ccc;
}

.btn {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #00b5e2;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
 .btn:hover {
      background-color:#39b4b1;
     }

div{
    color: #000;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    padding: 10px;
}

.container{
    background-color:#2E4272;
    display:flex;
}
.fixed{
	color: #fff;
    background-color:#4F628E;
    width: 200px;
}
.flex-item{
    background-color:#7887AB;
    flex-grow: 1;
}

navbar {
    float: left;
    max-width: 170px;
	height: 100%;
    margin: 5px;
    padding: 1em;
    background-color: cyan;
}

div.utility-belt{
    width: 100%;
	color: #000;
	height: 100px;
    margin: 0;
    padding: 1em;
    background-color: cyan;
}

 #paper-link-snapping{
 background-color:yellow;
 }


body {
    background-color: white;
}